<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
                <add name="ssaddin" 
                    type="System.Diagnostics.TextWriterTraceListener"
                    traceOutputOptions="ProcessId, ThreadId"
                    initializeData="ssaddin.log" />
            </listeners>
        </trace>
    </system.diagnostics>
    <appSettings>
        <add key="quandl.auth_token" value=""/>
        <add key="tiingo.auth_token" value=""/>
    </appSettings>
</configuration>
