<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="2.2.22.0" />
        </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.diagnostics>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
                <add name="ssaddin" 
                    type="System.Diagnostics.TextWriterTraceListener"
                    traceOutputOptions="ProcessId, ThreadId"
                    initializeData="ssaddin.log" />
            </listeners>
        </trace>
    </system.diagnostics>
    <appSettings>
        <add key="quandl.auth_token" value=""/>
        <add key="tiingo.auth_token" value=""/>
        <add key="baremetrics.auth_token" value=""/>    
        <!-- ganalytics.auth_token value should be the path to your P12 -->
        <add key="ganalytics.auth_token" value="c:\\osullivj\\cfg\\SpreadServe-71e5dc7e4b53.p12"/>
        <!-- ganalytics.id value should be your service account email address -->        
        <add key="ganalytics.id" value=""/>
    </appSettings>
</configuration>
